<mat-toolbar color = "primary">
  <button mat-icon-button class="example" aria-label="example icone button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Posting_APP</span>
  <span class="flex"></span>
  <button mat-raised-button color = "primary" routerLink = "viewall">voir les postes</button>
  <button mat-raised-button color = "primary" routerLink = "createpost" >créer un poste</button>
  <button mat-raised-button color = "primary" routerLink = "search">chercher les postes</button>
  <button mat-aria-button color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-aria-button color = "primary">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet> 