.container_post_info{
    margin :16px;
    max-width: 60%;
    padding-bottom: 30px;
    margin: auto;
}
mat-card{
    padding: 10px;
}
.example-image{
    object-fit: cover;;
}
mat-form-field{
    width: 100%;
}
.example-header-image{
    background-image: url("https://www.bing.com/ck/a?!&&p=a2c78c80887be34b2d4aef56893c8c7815693f3fc59fa6f67ae82bcd36800c2bJmltdHM9MTc0NTI4MDAwMA&ptn=3&ver=2&hsh=4&fclid=330a1c1f-4370-6822-2620-0fdf42b769b2&u=a1L2ltYWdlcy9zZWFyY2g_cT1ndXRzJTIwaW1hZ2UmRk9STT1JUUZSQkEmaWQ9REMwQzVGNTg4RjhFNjIyOEQ4QjU3QjEwQzQ3MEFEODI2N0VBMzMwNg&ntb=1");
    background-size: cover;
}
.container_comment{
    margin:auto;
    max-width: 60%;
}
.container{
    padding-top: 5px;
}
.comments{
    margin:auto;
    max-width: 60%;
}
.content{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}